* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
/*****NAVIGATION*****/
.container .nav-ctn {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#logo {
    display: block;
    width: 300px;
    height: 6rem;
    margin: 0;
    background: url(../img/logo.png) center left no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
    text-indent: -999px;
    float: left;
    }

    @media only screen and (max-device-width: 768px){
        header {
            min-height:70px;
        }
        header nav ul li a{
            font-size: 12px;
        }
        #logo {
            width: 200px;
            height: 3rem;
        }
        header .container nav{
            
            margin-top: 10px; 
            float: right;
        }
        #showcase .showcase-txt {
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            text-align: center;
        }
        #showcase .showcase-txt h1, h2, p {
            text-align: center;
        }
        .bottom-menu .bottom-ctn ul li a {
            font-size: 12px;
        }
       .bottom-menu .bottom-ctn .subscribe {
            font-size: 0.8rem;
        }
        
        footer #footerlogo {
            height: 30px;
        }
        footer .container .footercopyright p {
            font-size: 8px;
            text-align: left;
        }
        footer .container .footercopyright span {
            font-size: 12px;
        }
        header .container #logo2 {
            width:200px;
            height: 3rem;
            margin-left: 0px;
        }
    }

    @media only screen and (max-device-width: 375px){
        header nav ul li {
            padding: 0 2px;
        }
        .brandsection .showcasebrands-img{
             margin: 10px 70px 0 0;
        }
        .brandsection .showcasebrands-txt{
            padding: 7.2rem;
        }
    }

    #logo a:hover {
        
        cursor: pointer;
    }


	header{
		
		color:#ffffff;
		
		min-height:70px;
		
	}
	
	header a{
		color:#6d6969;
		text-decoration:none;
		text-transform:uppercase;
        font-size:16px;
        font-family: 'Muli', sans-serif;
	}
	
	
    header li {
        float: left;
        display: inline;
        padding: 10px 0 0 10px;
    }
	
	header #branding{
		float:left;
	}
	
	header #branding h1{
		margin:0;
	}
	
	header nav{
		float:right;
		margin-top:40px;
	}
		
	header .highlight, header .current a{
		color:#e8491d;
		font-weight:bold;
	}
	
	#showcase .showcase-txt a:hover{
		color:#b2c8d4;
        font-weight:bold;
        background-color: white;
	}


/*****SHOWCASE*****/
#showcase {
    min-height: 600px;
    background:url("../img/mauheader.JPG") no-repeat;
    
  
    text-align:center;
    color:#000000;
    
    
    
}


#showcase .showcase-txt{
		 
    text-align: right;
    margin: 15% 0;
    font-size: 2.5rem;

	}
	

#showcase .showcase-txt a {
    height: 38px;
    background: #b2c8d4;;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-size: 25px;
}

#showcase .showcase-txt h1 {
    font-family: 'Muli', sans-serif;
}
#showcase .showcase-txt h2 {
    font-family: 'Muli', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
}

#showcase .showcase-txt p {
    margin-top: -40px;
}

.main-title a:hover {
    background: #17181a;
}


   
    
    
   

/***** HERO SECTION*****/
.hero {
    padding-top: 90px;
    padding-bottom: 90px;
    
}




.hero h2 {
    margin-bottom: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
}

.hero p {
    font-family: 'Muli', sans-serif;
}


.hero h5 {
    margin-top: 2rem;
    color: rgb(133, 133, 184);
    font-family: 'Muli', sans-serif;
}

.hero span{
    padding-left: 1rem;
}

.hero h5:hover {
    color: #8daec0;
    cursor: pointer;
}

/****BOTTOM MENU****/
.bottom-menu {
            background-color: rgba(0, 0, 0, 0.55);
            height: 90px;
    }

.bottom-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 0;
    padding-right: 30px;
}

.bottom-ctn ul li {
    display: inline-block;
}

.bottom-ctn ul li a {
    padding: 0 10px 0 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

.bottom-ctn ul li a:hover {
    color: #8daec0;
    cursor: pointer;
}

.subscribe {
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
}

.subscribe span {
    font-weight: bold;
}
/*****FOOTER*****/
footer {
   
    background: #575759;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    /* padding: 1rem 1rem; */
    height: 90px;
}
#footerlogo {
    display: block;
    width: 300px;
    height: 40px;
    margin: 0;
    background: url(../img/footerlogo.JPG) center left no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
    text-indent: -999px;
    float: left;
    /* padding: 20px; */
    margin: 10px 0;
}

.footercopyright p{
    font-size: 12px;
    color: white;
}

.footercopyright span {
    font-size: 18px;
}

footer h2 span {
    color: #737373;
    font-family: 'Audiowide', cursive;
}

footer h2 {
    color: #a9afac;
    font-family: 'Audiowide', cursive;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}






/********brands*************/
/***brands logo***/
#logo2 {
    display: block;
    width: 300px;
    height: 6rem;
    margin: 0;
    background: url(../img/brandslogo.JPG) center left no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
    text-indent: -999px;
    float: left;
    margin-left: -17px;
    }

    #logo a:hover {
        
        cursor: pointer;
    }

.brandsection {
    background-color: #7da0b4;
    height: 45vh;
    font-size: 24px;
}

    .showcasebrands-img{
        float:right;
        margin: 100px 200px 0 0;
    }
    

   .container .showcasebrands-txt h1{
       color:white;      
       font-size: 5rem;
       margin: 200px 0 0 120px;
        }

        .showcasebrands-txt{
            color:white;
            padding: 9.2rem;
            font-family: 'Muli', sans-serif;
        }

    /********brand hero*********/
    .brand-hero {
        background-color: #F8F8F8;
    }
    .brand-hero p {
        padding: 60px 0;
    }
/****brand gallery*******/

.brands-section {
    text-align: center;
    padding-top: 90px;
    

}

.brands-section .container h2 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
    margin-bottom: 30px;
    
}

.trainers-section .container p {
    margin-bottom: 1.5em;
    font-size: 20px;
    color: #848484;
    font-family: "Roboto", Arial, sans-serif;
}

.brands-ctn {
    position: relative;
    background-size: cover;
    
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brands-ctn  .trainer {
    width: 30%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.brands-ctn .brand1,
.brands-ctn .brand2,
.brands-ctn .brand3,
.brands-ctn .brand4,
.brands-ctn .brand5,
.brands-ctn .brand6 {
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

.brands-ctn .brand1 {
    background-image: url(../img/boz1.JPG);
    background-size: contain;
    height: 200px;
    width: 25%;
}

.brands-ctn .brand2 {
    background-image: url(../img/chef3.JPG);
    background-size: contain;
    height: 200px;
    width:  25%;
}

.brands-ctn .brand3 {
    background-image: url(../img/brand3.JPG);
    background-size: contain;
    height: 200px;
    width:  25%;
}

.brands-ctn .brand4 {
    background-image: url(../img/brand4.JPG);
    background-size: contain;
    height: 200px;
    width:  25%;
}

.brands-ctn .brand5 {
    background-image: url(../img/brand5.JPG);
    background-size: contain;
    height: 200px;
    width: 200px;
}

.brands-ctn .brand6 {
    background-image: url(../img/brand6.JPG);
    background-size: contain;
    height: 200px;
    width: 200px;
}
.brands-ctn .brand7 {
    background-image: url(../img/brand8.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

/*.brand .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
    padding-top: 800px;
    transition: all 0.5s ease;
    
}*/

.brand .overlay:hover{
    
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 100px;
}

.overlay .brand-details {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.overlay .brand-details h3  {
    color: #fff;
    font-size: 30px;
}

.overlay .brand-details .social-brand {
   
}

.overlay .brand-details i {
    padding: 10px;
    margin-right: 5px;
    background-color: #fff;
    color: #000;
    display: inline-block;
}
